[submodule "src/public_html/assets/scripts/tinymce"]
	path = src/public_html/assets/scripts/tinymce
	url = git://github.com/spekkionu/tinymce.git
[submodule "src/system/library/HTMLPurifier"]
	path = src/system/library/HTMLPurifier
	url = git://github.com/spekkionu/htmlpurifier.git
[submodule "src/system/library/Zend"]
	path = src/system/library/Zend
	url = git://github.com/spekkionu/zendframework.git
[submodule "src/system/library/ZendX"]
	path = src/system/library/ZendX
	url = git://github.com/spekkionu/zendframework-extras.git
[submodule "src/system/library/WideImage"]
	path = src/system/library/WideImage
	url = git://github.com/spekkionu/wideimage.git
[submodule "src/system/library/Doctrine"]
	path = src/system/library/Doctrine
	url = git://github.com/spekkionu/doctrine.git
[submodule "scripts/tasks/closure"]
	path = scripts/tasks/closure
	url = git://github.com/mathewbyrne/closure-task.git
