<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Cached Index" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{DOCUMENT_ROOT}/cached/index.html" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="cached/index.html" />
                </rule>
                <rule name="Cached File" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{DOCUMENT_ROOT}/cached/{URL}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="cached/{URL}.html" />
                </rule>
                <rule name="Static File" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Application Redirect" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <action type="Rewrite" url="bootstrap.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
